<h1> <b data-bind="text: postTitle" /></h1>
<br />
<button class="btn btn-default" data-bind="click: back">back</button>
<br />

<div class="jumbotron col-sm-12">
    <p class="lead">
    <p>Score: <b data-bind="text: score"></b></p>
    <p>User display name: <b class="cursPointer" data-bind="text: user_display_name, click: getUser"></b></p>
    <p>User id: <b data-bind="text:user_id"></b></p>
    <p>CreationDate: <b data-bind="text:creationDate"></b></p>
    <div data-bind="html: body"></div> <!--Body-->

    <br />

    <h4> Tags </h4>
    <ul data-bind="foreach: getTags">
        <div class="col-sm-12">
            <b data-bind="text: $data.tag"></b>
        </div>
    </ul>
    </p>
</div>


<div class="col-sm-12">
    <h3> Posts comments </h3>
    <p class="lead">
    <p Comments> </p>
    <ul data-bind="foreach: comments">
        <li>
            <p data-bind="text: $data.comment_text"></p>
        </li>
    </ul>

</div>

<br />

<div class="col-sm-12">
    <h3> Posts answers </h3>
    <div data-bind="foreach: answerposts">
        <br />
        <div class="list-group top-buffer">
            <a class="searchResultsSinglePost list-group-item">
                <div>
                    <p>Answer user display name: <b data-bind="text: $data.user_display_name"></b></p>
                    <p>Answer score: <b data-bind="text: $data.score"></b></p>
                    <p>Answer creationDate: <b data-bind="text: $data.creationDate"></b></p>
                    <br>
                    <p data-bind="html: $data.body"></p>
                </div>
                <br />
                <h4> Answer Comments </h4>
                <ul data-bind="foreach: $data.comments">
                    <br />
                    <p>Score: <b data-bind="text: $data.comment_score"></b></p>
                    <p>User display name: <b data-bind="text: $data.user_display_name"></b></p>
                    <p>Creation date: <b data-bind="text: $data.formatted_date"></b>
                    <p data-bind="html: $data.comment_text">
                </ul>
            </a>
        </div>
    </div>
</div>


<button class="btn btn-default" data-bind="click: getPrev, enable: displayPrev">Prev</button>

<button class="btn btn-default" data-bind="click: getNext, enable: displayNext">Next</button>