<h1>Your Search History</h1>

<!-- ko if: histories().length > 0-->
<div class="container">
    <span data-bind="text: 'History count: ' + totalHistory()"></span><br />
    <span data-bind="text: 'Pages: ' + totalPages()"></span><br />
    <span data-bind="text: 'Current page: ' + currentPage()"></span><br />
</div>
<!-- /ko -->
<!-- ko if: histories().length == 0-->
<div>No history</div>
<!-- /ko -->
<br>
<br>
<div class="list-group top-buffer" data-bind="foreach: histories">
    <a class="searchResults list-group-item">
        Search String: <b data-bind="text: search_string"></b>
        History Timestamp: <b data-bind="text: formatted_date" />
        <div class="float-right">
            Search again:
            <button data-bind="click: $parent.searched , text: search_string" class="btn"></button>
        </div>
    </a>
</div>

<br>
<button class="btn btn-default" data-bind="click: prevPage, enable: displayPrev">Prev</button>
<button class="btn btn-default" data-bind="click: nextPage, enable: displayNext">Next</button>




