<h1>Your Search History</h1>
<div class="list-group""col-sm-6 col-sm-offset-3" data-bind="foreach: histories">

    <p> History id: <b data-bind="text: history_id"></b></p>
    <p> Search String: <b data-bind="text: search_string"></b></p>
    <p> History Timestamp: <b data-bind="text: history_timestamp"></b></p>

    <button data-bind="click: $parent.searched , text: search_string"></button>

    <p> </p>

</div>

<button data-bind="click: prevPage, enable: displayPrev">Prev</button>
<button data-bind="click: nextPage, enable: displayNext">Next</button>



