<h1>Post Search</h1>

<!--<button data-bind="click: search">Search for posts</button>-->
<h3> Search: </h3>
<form data-bind="submit: search">
    <input data-bind="textInput: userSearchString" />
</form>
<!--<div data-bind="visible: searchVisible, text: 'Search result of &quot;' + $duserSearchString + '&quot;:'">-->
<div class="top-buffer bot-buffer" data-bind="text: searchingString">
</div>

<div class="list-group top-buffer" data-bind="foreach: posts, visible: searchHasResults">

    <a class="searchResults list-group-item" href="#" data-bind="click: $parent.getPost">
        <div class="container">
            <div class="col-lg-2">
                <span data-bind="text: 'Score: ' + $data.score"></span>
            </div>
            <div class="col-lg-10">
                <h3 data-bind="text: $data.title"></h3>
                <p data-bind="html: $data.body"></p>
            </div>
        </div>
    </a>

</div>
<button class="btn btn-default" data-bind="click: prevPage, enable: displayPrev">Prev</button>
<button class="btn btn-default" data-bind="click: nextPage, enable: displayNext">Next</button>