<h1>Post Search</h1>



<h3> Search: </h3>
<form data-bind="submit: search">
    <div class="container inputSearch">
        <input class="col-lg-5" data-bind="textInput: userSearchString" />
        <button class="col-lg-2 btn btn-sm left-buffer" data-bind="click: search, textInput: userSearchString">Search for posts</button>
    </div>
</form>
<div class="top-buffer bot-buffer" data-bind="text: searchingString, visible: showSearch">
</div>

<div class="list-group top-buffer" data-bind="foreach: posts, visible: searchHasResults">

    <a class="searchResults list-group-item" href="#" data-bind="click: $parent.getPost">
        <div class="container">
            <div class="col-sm-2 top-buffer">
                <span data-bind="text: 'Score: ' + $data.score"></span>
            </div>
            <div class="col-sm-8 ">
                <h3 data-bind="text: $data.title"></h3>
                <p data-bind="html: $data.body"></p>
            </div>
        </div>
    </a>

</div>
<button class="btn btn-default" data-bind="click: prevPage, enable: displayPrev">Prev</button>
<button class="btn btn-default" data-bind="click: nextPage, enable: displayNext">Next</button>