h1 {
    text-align: center;
}

.searchResults {
    max-height: 190px;
    overflow: hidden;
    margin-bottom: 2em;
}
.searchResultsSinglePost {
    
}


.container .inputSearch {
    padding-left: 0;
}

.top-buffer {
    margin-top: 20px;
}

.bot-buffer {
    margin-top: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.posts .datacol {
    cursor: pointer;
}

/* --- STYLE SPECIFIC FOR FRONT-PAGE --- */
.frontPage {
    text-align: center;
    height: 70vh;
}

.frontPage .row {
    position: relative;
    top: 20%;
}

.frontPage .fp-form {
    border: none;
    border-bottom: 1px solid;
}
/* --- END FRONT-PAGE --- */



/* --- STYLE SPECIFIC FOR FAVORITE-PAGE --- */
.favoritePage .noteBtn {
    width: 100%;
}

.favoritePage .noteCol {
    text-align: center;
}

.favoritePage .dataCol {
    cursor: pointer;
}

/* -- MODAL --*/
#noteModal .noteTimeStamp {
    float: left;
}

#noteModal .options {
    float: left;
}

#editNoteModal .createNew {
    float: left;
}

.favoritestar {
    padding-top: 20px;
    color: goldenrod;
    font-size: 1.3em;
}