h1 {
    text-align: center;
}

.searchResults {
    max-height: 190px;
    overflow: hidden;
    margin-bottom: 2em;
}

<<<<<<< HEAD
.container .inputSearch {
    padding-left: 0;
}

=======
.top-buffer {
    margin-top: 20px;
}

.bot-buffer {
    margin-top: 20px;
}

/* --- STYLE SPECIFIC FOR FRONT-PAGE --- */
>>>>>>> f5fbea1... implemented a modal for notes on the favorite page
.frontPage {
    text-align: center;
    height: 70vh;
}

.frontPage .row {
    position: relative;
    top: 20%;
}

.frontPage .fp-form {
    border: none;
    border-bottom: 1px solid;
}
/* --- END FRONT-PAGE --- */


/* --- STYLE SPECIFIC FOR FAVORITE-PAGE --- */
.favoritePage .commentBtn {
    width: 100%;
}

<<<<<<< HEAD
.bot-buffer {
    margin-bottom: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.posts .datacol {
    cursor: pointer;
}
=======
.favoritePage .commentCol {
    text-align: center;
}

.favoritePage .dataCol {
    cursor: pointer;
}

/* --- END FAVORITE-PAGE --- */
>>>>>>> f5fbea1... implemented a modal for notes on the favorite page
