h1 {
    text-align: center;
}

.searchResults {
    max-height: 150px;
    overflow: hidden;
    margin-bottom: 2em;
}

.frontPage {
    text-align: center;
    height: 70vh;
}

.frontPage .row {
    position: relative;
    top: 20%;
}

.frontPage .fp-form {
    border: none;
    border-bottom: 1px solid;
}